apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: ztunnel-monitor
  namespace: {{ ztunnel_namespace }}
spec:
  selector:
    matchLabels:
      app: ztunnel
  podMetricsEndpoints:
  - path: /stats/prometheus
    interval: 30s
    relabelings:
    - action: keep
      regex: istio-proxy
      sourceLabels:
      - __meta_kubernetes_pod_container_name
    - action: replace
      replacement: $1
      sourceLabels:
      - __meta_kubernetes_pod_ip
      targetLabel: __address__
      regex: (.+)
      separator: ;
    - action: replace
      replacement: $1:15020
      sourceLabels:
      - __address__
      targetLabel: __address__
      regex: (.+)
    - action: replace
      sourceLabels:
      - __meta_kubernetes_namespace
      targetLabel: namespace
    - action: replace
      replacement: {{ mesh_id }}
      targetLabel: mesh_id
