apiVersion: v1
kind: Config
clusters:
- name: {{ cluster_name }}
  cluster:
    certificate-authority-data: {{ ca_data }}
    server: {{ server_url }}
contexts:
- name: istio-reader-service-account@{{ cluster_name }}
  context:
    cluster: {{ cluster_name }}
    namespace: {{ mesh_namespace }}
    user: istio-reader-service-account
users:
- name: istio-reader-service-account
  user:
    token: {{ sa_token }}
current-context: istio-reader-service-account@{{ cluster_name }}
