apiVersion: maistra.io/v2
kind: ServiceMeshControlPlane
metadata:
  name: {{ smcp_name }}
  namespace: {{ mesh_namespace }}
spec:
  addons:
    kiali:
      enabled: false
  cluster:
    name: {{ cluster.name }}
    network: {{ cluster.network }}
    multiCluster:
      enabled: true
      meshNetworks:
        {{ remote_network }}:
          endpoints:
          - fromRegistry: {{ remote_cluster }}
          gateways:
          - address: {{ remote_gateway_address }}
            port: 15443
  general:
    logging:
      componentLevels:
        default: info
  mode: {{ smcp_mode }}
  meshConfig:
    discoverySelectors:
    - matchLabels:
        istio-injection: enabled
  proxy:
    accessLogging:
      file:
        name: /dev/stdout
  security:
    dataPlane:
      mtls: true
    identity:
      type: ThirdParty
    manageNetworkPolicy: false
  techPreview:
    global:
      meshID: {{ mesh_id }}
  tracing:
    type: None
